html, body {
  height: 100%; }

.wrapper {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 50%, #8DFAF1 50%, #8DFAF1 100%);
  background: -webkit-linear-gradient(to right, #FFFFFF 0%, #FFFFFF 50%, #8DFAF1 50%, #8DFAF1 100%); }
  @media screen and (max-width: 568px) {
    .wrapper {
      background: linear-gradient(to bottom, #FFFFFF 50%, #FFFFFF 50%, #8DFAF1 90%, #8DFAF1 10%);
      background: -webkit-linear-gradient(to bottom, #FFFFFF 50%, #FFFFFF 50%, #8DFAF1 90%, #8DFAF1 10%); } }

.hello {
  font-family: "ProximaNova-Extrabold", sans-serif;
  font-size: 24vw;
  line-height: 24vw;
  text-align: center;
  margin: 0px;
  padding: 0px; }

.contact-text {
  font-family: "ProximaNovaCond-Regular", sans-serif;
  width: 50%;
  font-size: 16px;
  padding: 0 6px; }
  @media screen and (max-width: 568px) {
    .contact-text {
      width: 100%; } }

.buttons {
  margin: 0;
  padding: 0;
  width: 49%; }
  @media screen and (max-width: 568px) {
    .buttons {
      width: 100%; } }

.email, .github, .linkedin, .portfolio {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 24%;
  text-align: center;
  color: grey;
  font-size: 20px; }
  @media screen and (max-width: 568px) {
    .email, .github, .linkedin, .portfolio {
      width: 24%;
      margin: 0 auto;
      display: block; } }

.wrapper a {
  color: grey; }

@font-face {
  font-family: 'ProximaNova-Extrabold';
  src: url("../fonts/ProximaNova-Extrabold.otf"); }
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNovaCond-Regular.otf"); }
.front-navbar {
  background-color: #8DFAF1; }

.html-css {
  background-color: #FFFFFF;
  height: 100%; }

nav {
  background-color: #FFFFFF;
  height: 64px; }
  nav .nav-wrapper a {
    color: black;
    font-family: "ProximaNova-Extrabold", sans-serif;
    font-size: 22px; }

h5 {
  font-family: "ProximaNova-Extrabold", sans-serif;
  font-size: 22px; }

@media screen and (max-width: 500px) {
  nav {
    height: 20px; } }

.sidebar {
  margin: 0;
  padding: 0;
  height: 80vh; }
  @media screen and (max-width: 990px) {
    .sidebar {
      height: auto;
      margin-top: -25px; } }

.brand-logo {
  margin-left: 15px; }

li {
  font-size: 24px;
  font-family: "ProximaNova-Extrabold", sans-serif; }
  @media screen and (max-width: 500px) {
    li {
      font-size: 18px; } }

.sidebar p:hover {
  background-color: #8DFAF1; }

.sidebar p {
  font-weight: bold; }

nav ul li:hover {
  background-color: #8DFAF1; }

.sidebar ul li:nth-child(odd):hover {
  background-color: #C7FAFF; }

.sidebar ul li:nth-child(even):hover {
  background-color: #6EA7FF; }

.thumbnail-wrapper {
  padding-top: 1vh; }
  @media screen and (max-width: 500px) {
    .thumbnail-wrapper {
      padding-top: 0; } }

.project-details {
  max-width: 80%;
  height: auto;
  margin-bottom: 1%; }
  @media screen and (max-width: 500px) {
    .project-details {
      max-width: 100%; } }

.vinyl-project-cover {
  display: inline;
  max-width: 40%;
  height: auto;
  margin-bottom: 1%; }
  @media screen and (max-width: 500px) {
    .vinyl-project-cover {
      max-width: 100%; } }

#project1, #project2, #project3, #project4, #project5, #project6, #project7, #project8 {
  display: none; }

.menu {
  display: block;
  position: relative;
  top: 25%;
  margin: 5px;
  height: 4px;
  width: 20px;
  background-color: black; }

.vinyl-project-cover:nth-child(odd) {
  margin-left: 3%; }
  @media screen and (max-width: 500px) {
    .vinyl-project-cover:nth-child(odd) {
      margin-left: 0; } }

/*# sourceMappingURL=main.css.map */
