.wrapper {
  // border: 1px solid magenta;
  height: 90.6vh;
 }

.hello {
  // border: 1px solid green;
  font-family: "ProximaNova-Extrabold", sans-serif;
  font-size: 24vw;
  line-height: 24vw;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.contact-text {
  border: 1px solid blue;
  width: 50%;
  @media screen and (max-width: 667px) {
    width: 100%;
  }
}

.wrapper {
  background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 50%, #8DFAF1 50%, #8DFAF1 100%);
  // Compatability with Safari and IE.
  background: -webkit-linear-gradient(to right, #FFFFFF 0%, #FFFFFF 50%, #8DFAF1 50%, #8DFAF1 100%);
  @media screen and (max-width: 500px) {
    background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 50%, #8DFAF1 50%, #8DFAF1 100%);
    height: 80vh;
  }
}
