@font-face {
  font-family: 'ProximaNova-Extrabold';
  src: url('../fonts/ProximaNova-Extrabold.otf');
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNovaCond-Regular.otf');
}

.front-navbar {
  background-color: #8DFAF1;
}

.html-css {
	background-color: #FFFFFF;
  height: 100%;
}

nav {
  background-color: #FFFFFF;
	height: 64px;
	.nav-wrapper a {
		color: black;
		font-family: "ProximaNova-Extrabold", sans-serif;
		font-size: 22px;
  }
}

h5 {
  font-family: "ProximaNova-Extrabold", sans-serif;
	font-size: 22px;
}

nav {
  @media screen and (max-width: 500px) {
    height: 20px;
  }
}

.sidebar {
	margin: 0;
	padding: 0;
	height: 80vh;
	@media screen and (max-width: 990px) {
		height: auto;
    margin-top: -25px;
	}
}

.brand-logo {
	margin-left: 15px;
}

li {
	font-size: 24px;
	font-family: "ProximaNova-Extrabold", sans-serif;
	@media screen and (max-width: 500px) {
		font-size: 18px;
	}
}

.sidebar p:hover {
	background-color: #8DFAF1;
}

.sidebar p {
	font-weight: bold;
}

nav ul li:hover {
   background-color: #8DFAF1;
}

.sidebar ul li:nth-child(odd):hover {
	background-color: #C7FAFF;
}

.sidebar ul li:nth-child(even):hover {
	background-color: #6EA7FF;
}


//projects-details Section
.thumbnail-wrapper {
	padding-top: 1vh;
  @media screen and (max-width: 500px) {
    padding-top: 0;
  }
}

.project-details {
	max-width: 80%;
	height: auto;
	margin-bottom: 1%;
	@media screen and (max-width: 500px) {
		max-width: 100%;
	}
}

.vinyl-project-cover {
  display: inline;
  max-width: 40%;
  height: auto;
  margin-bottom: 1%;
  @media screen and (max-width: 500px) {
    max-width: 100%;
  }
}

#project1, #project2, #project3, #project4, #project5, #project6, #project7, #project8 {
	display: none;
}

.menu {
	display: block;
	position: relative;
  margin: 5px 8px 5px;
	height: 4px;
	width: 20px;
	background-color: black;
}

.first {
  margin-top: 15px;
}

.vinyl-project-cover:nth-child(odd) {
  margin-left: 3%;
  @media screen and (max-width: 500px) {
    margin-left: 0;
  }
}
