@import "projects";

html, body {
  height: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  // overflow: hidden;
  background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 50%, #8DFAF1 50%, #8DFAF1 100%);
  // Compatability with Safari and IE.
  background: -webkit-linear-gradient(to right, #FFFFFF 0%, #FFFFFF 50%, #8DFAF1 50%, #8DFAF1 100%);
  @media screen and (max-width: 568px) {
    background: linear-gradient(to bottom, #FFFFFF 50%, #FFFFFF 50%, #8DFAF1 90%, #8DFAF1 10%);
    // Compatability with Safari and IE.
    background: -webkit-linear-gradient(to bottom, #FFFFFF 50%, #FFFFFF 50%, #8DFAF1 90%, #8DFAF1 10%);
  }
}

.hello-text {
  text-align: center;
  font-family: "ProximaNova-Extrabold", sans-serif;
  font-size: 24vw;
  line-height: 24vw;
  // margin-top: -5px;
}

.contact-text {
  font-family: "ProximaNovaCond-Regular", sans-serif;
  width: 50%;
  font-size: 16px;
  padding: 0 6px;
  // margin: 0px;
  @media screen and (max-width: 568px) {
    width: 100%;
  }
}

a.button-collapse {
  width: 0px;
}

.buttons {
  margin: 0;
  padding: 0;
  width: 49%;
  @media screen and (max-width: 568px) {
    width: 100%;
  }
}

.email, .github, .linkedin, .portfolio {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 24%;
  text-align: center;
  color: grey;
  font-size: 20px;
  @media screen and (max-width: 700px) {
      width: 24%;
      margin: 0 auto;
      display: block;
  }
}

.wrapper a {
  color: #000000;
  font-family: "ProximaNova-Extrabold", sans-serif;
}

.green-hover:hover {
  color: #8DFAF1;
}

.white-hover:hover {
  color: #FFFFFF;
  @media screen and (max-width: 568px) {
    color: #82FDAD;
  }
}

.technology-used {
  color: #82FDAD;
}
