@import "contact";

.html-css {
	// width: 100vw;
	// height: 100vh;
	// background-color: #E5FF85;
	height: 100vh;
	background-color: #FFFFFF;
}

nav {
	background-color: #E5FF85;
	height: 64px;
	position: fixed;
	top: 0;
	transition: top 2.3s ease-in-out;
	.nav-wrapper a {
		 color: black;
	}
}

.sidebar {
	margin: 0;
	padding: 0;
	height: 80vh;
	@media screen and (max-width: 990px) {
		height: auto;
	}
}

li {
	font-size: 16px;
	font-weight: bold;
}
.sidebar p:hover {
	background-color: #7BF4FF;
}

.sidebar p {
	font-weight: bold;
}

nav ul li:hover {
   background-color: #7BF4FF;
}

.sidebar ul li:nth-child(odd):hover {
	background-color: #C7FAFF;
}

.sidebar ul li:nth-child(even):hover {
	background-color: #6EA7FF;
}


//projects-details Section
.html-css {
	padding-top: 3vh;
	// width: 100%;
	// min-height: 100vh;
	// background-color: #4450FF;
	// overflow: hidden;
	// @media screen and (max-width: 500px) {
		// padding-top: 10px;
	// }
}

.project-details {
	border: 1px solid magenta;
	display: block;
	margin: 0 auto;
	max-width: 85%;
	height: auto;
	margin-bottom: 1%;
	@media screen and (max-width: 500px) {
		max-width: 100%;
	}
}

.projects {
	border: 1px solid blue;
}

.sidebar {
	border: 1px solid red;
}
#project1, #project2, #project3, #project4, #project5, #project6 {
	display: none;
}

span {
	display: block;
	position: relative;
	top: 25%;
	margin: 5px;
	height: 5px;
	width: 30px;
	background-color: black;
}

.technology-used {
	// border: 1px solid red;
}
