@import "contact";
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/ProximaNova-Semibold.otf');
}

.html-css {
	// width: 100vw;
	// height: 100vh;
	// background-color: #E5FF85;
	height: 100vh;
	background-color: #FFFFFF;
}

nav {
	background-color: #FFFFFF;
	height: 64px;
	// position: fixed;
	// top: 0;
	// transition: top 2.3s ease-in-out;
	// border: 0px;
	.nav-wrapper a {
		 color: black;
		 font-family: "ProximaNova-Semibold", sans-serif;
		 font-size: 20px;
	}
}

.sidebar {
	margin: 0;
	padding: 0;
	height: 80vh;
	@media screen and (max-width: 990px) {
		height: auto;
	}
}

.brand-logo {
	margin-left: 15px;
	@media screen and (max-width: 500px) {
		margin-left: 30px;
	}
}

li {
	font-size: 24px;
	font-family: "ProximaNova-Semibold", sans-serif;
	@media screen and (max-width: 500px) {
		font-size: 16px;
	}
}

.sidebar p:hover {
	background-color: #7BF4FF;
}

.sidebar p {
	font-weight: bold;
}

nav ul li:hover {
   background-color: #7BF4FF;
}

.sidebar ul li:nth-child(odd):hover {
	background-color: #C7FAFF;
}

.sidebar ul li:nth-child(even):hover {
	background-color: #6EA7FF;
}


//projects-details Section
.html-css {
	padding-top: 3vh;
}

.project-details {
	max-width: 85%;
	height: auto;
	margin-bottom: 1%;
	@media screen and (max-width: 500px) {
		max-width: 100%;
	}
}

#project1, #project2, #project3, #project4, #project5, #project6 {
	display: none;
}

span {
	display: block;
	position: relative;
	top: 25%;
	margin: 5px;
	height: 5px;
	width: 30px;
	background-color: black;
}
